<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <title>Pneumonia Prediction App</title>
   </head>
   <body>
      <header>
         <h1 class="title">Pneumonia Detection App</h1>
         <nav>
            <ul>
               <li><a href="{{ url_for('index') }}">Home</a></li>
               <li><a href="{{ url_for('about') }}" class="current">About</a></li>
               <li><a href="{{ url_for('howtouse') }}">How to use</a></li>
            </ul>
         </nav>
      </header>
      <div class="container">
         <div class="row">
            <div class="col-left">
               <h2>About</h2>
               <p>This app uses the ensemble averaging technique to combine 2 deep learning models to predict if a given chest X-ray image shows signs of pneumonia.</p> 
               <p>It can be used as a tool to assist doctors and radiologists in their diagnosis.</p>
            </div>
            <div class="col-right">
               <img src="{{ url_for('static', filename='cover_image.jpg') }}">
            </div>
         </div>
      </div>
    </body>
</html>